name: CMake with Android SDK

on: workflow_dispatch

env:
  BUILD_TYPE: Release
  PB_LIBRARY_PATH: ${{ github.workspace }}
  ANDROID_HOME: C:\Android\android-sdk
  ANDROID_SDK_ROOT: C:\Android\android-sdk

jobs:
  build:
    runs-on: macOS-13
    steps:
    # - name: Set up JDK 17
    #   uses: actions/setup-java@v3
    #   with:
    #       java-version: '17'
    #       distribution: 'temurin'
          
    # - name: Setup Android SDK
    #   uses: android-actions/setup-android@v3

    # - name: Setup Android NDK
    #   uses: nttld/setup-ndk@v1
    #   with:
    #     ndk-version: r21e
    #     add-to-path: false
    #   env:
    #     ANDROID_NDK_HOME: ${{ steps.setup-ndk.outputs.ndk-path }}

    - name: Set NDK Path
      run: echo "ANDROID_NDK_ROOT=/usr/local/share/android-sdk/ndk/25.2.9519653" >> $GITHUB_ENV

    - name: Set CMake Path
      run: echo "ANDROID_NDK_CMAKE=/usr/local/share/android-sdk/cmake/3.22.1/bin/cmake" >> $GITHUB_ENV

    
    - name: Install Android SDK and NDK
      run: |
          echo "Installing Android dependencies..."
          echo ${{env.PB_LIBRARY_PATH}}
          echo ${{env.ANDROID_HOME}}
          echo ${{env.ANDROID_NDK_ROOT}}
          echo ${{env.ANDROID_NDK_CMAKE}}
          # ls -al ${{env.ANDROID_NDK_ROOT}}\cmake\
  
  
    # - name: Checkout
    #   uses: actions/checkout@v3
    #   with:
    #     submodules: 'recursive'
        
    # - name: Apply patch to protobuf source
    #   run: |
    #     cd $env:PB_LIBRARY_PATH\protobuf-source
    #     git apply ..\build\patch\diff-base-on-3.19.0.diff

    # - name: Create Android Build Directory
    #   run: mkdir ${{env.PB_LIBRARY_PATH}}\build\_android
           
    # - name: Configure CMake with Andriod Sdk
    #   working-directory: ${{env.PB_LIBRARY_PATH}}\build\_android
    #   run: |
    #     cmake -G "Visual Studio 17 2022" -A x64 `
    #     -DCMAKE_INSTALL_PREFIX=${{env.PB_LIBRARY_PATH}}/libprotobuf `
    #     -DCMAKE_MSVC_RUNTIME_LIBRARY="MultiThreaded$<$<CONFIG:Debug>:Debug>DLL" `
    #     -Dprotobuf_BUILD_TESTS=false -Dprotobuf_WITH_ZLIB=false `
    #     -Dprotobuf_DEBUG_POSTFIX="" `
    #     -DCMAKE_INSTALL_LIBDIR="lib/win64/$<$<CONFIG:Debug>:Debug>$<$<CONFIG:Release>:Release>" `
    #     -DCMAKE_INSTALL_CMAKEDIR=lib/win64/cmake `
    #     -Dprotobuf_MSVC_STATIC_RUNTIME=false `
    #     -DCMAKE_POLICY_DEFAULT_CMP0091=NEW -DCMAKE_MSVC_RUNTIME_LIBRARY=MultiThreadedDLL `
    #     ${{env.PB_LIBRARY_PATH}}/protobuf-source/cmake

    # - name: Build and Install (Debug)
    #   working-directory: ${{env.PB_LIBRARY_PATH}}\build\_win64
    #   run: |
    #     cmake --build . --target INSTALL --config Debug

    # - name: Build and Install (Release)
    #   working-directory: ${{env.PB_LIBRARY_PATH}}\build\_win64
    #   run: |
    #     cmake --build . --target INSTALL --config Release

    # - name: Upload binaries as artifact
    #   uses: actions/upload-artifact@v3
    #   with:
    #     name: protobuf-win64-binary-for-unreal
    #     path: ${{env.PB_LIBRARY_PATH}}\libprotobuf\lib\win64
