name: LibProto For IOS 
on: workflow_dispatch
env:
  PB_LIBRARY_PATH: ${{ github.workspace }}
  ANDROID_HOME:	/Users/runner/Library/Android/sdk
  ANDROID_NDK:	/Users/runner/Library/Android/sdk/ndk/25.2.9519653
  ANDROID_NDK_HOME:	/Users/runner/Library/Android/sdk/ndk/25.2.9519653
  ANDROID_NDK_NINJA: /Users/runner/Library/Android/sdk/cmake/3.22.1/bin/ninja
  ANDROID_NDK_CMAKE: /Users/runner/Library/Android/sdk/cmake/3.22.1/bin/cmake

jobs:
  build:
    runs-on: macOS-13
    steps: 
    # - name: Install Android SDK and NDK
    #   run: |
    #       echo "Installing Android dependencies..."
    #       echo ${{env.PB_LIBRARY_PATH}}
    #       echo ${{env.ANDROID_HOME}}
    #       echo ${{env.ANDROID_NDK_HOME}}
    #       echo ${{env.ANDROID_NDK_CMAKE}}
    #       echo ${{env.ANDROID_NDK_NINJA}}
    #       ${{env.ANDROID_NDK_CMAKE}} --version
    #       ${{env.ANDROID_NDK_NINJA}} --version
   
    - name: Checkout
      uses: actions/checkout@v3
      with:
        submodules: 'recursive'
        
    - name: Apply patch to protobuf source
      working-directory: ${{env.PB_LIBRARY_PATH}}/protobuf-source
      run: |
        git apply ../build/patch/diff-base-on-3.19.0.diff

    - name: Create Android Build Directory
      run: mkdir ${{env.PB_LIBRARY_PATH}}/build/_ios
           
    - name: Configure CMake with Andriod Sdk
      working-directory: ${{env.PB_LIBRARY_PATH}}/build/_ios
      run: |
        cmake -G "Unix Makefiles" \
         -DCMAKE_INSTALL_PREFIX=${{env.PB_LIBRARY_PATH}}/libprotobuf \
         -DCMAKE_TOOLCHAIN_FILE=${{env.PB_LIBRARY_PATH}}/build/ios/ios.toolchain.cmake \
         -DCMAKE_INSTALL_LIBDIR=lib/ios -DPLATFORM=OS64 \
         -DCMAKE_INSTALL_CMAKEDIR=lib/ios/cmake -DCMAKE_CXX_STANDARD=17 \
         -Dprotobuf_BUILD_TESTS=false -Dprotobuf_WITH_ZLIB=false \
         -Dprotobuf_BUILD_EXAMPLES=false \
         -Dprotobuf_BUILD_PROTOC_BINARIES=false -Dprotobuf_BUILD_LIBPROTOC=false \
         ${{env.PB_LIBRARY_PATH}}/protobuf-source/cmake
        cmake --build . --target install --config Release

    - name: Upload binaries as artifact
      uses: actions/upload-artifact@v3
      with:
        name: libproto-for-ios
        path: ${{env.PB_LIBRARY_PATH}}/libprotobuf/lib/ios
